DB_URL=mysql+aiomysql://nestgrow:CAMBIA_PASSWORD@db/nestgrow_db
MQTT_HOST=mosquitto
MQTT_PORT=1883
LICENSE_SERVER_URL=https://license.lake8.dev
JWT_SECRET=CAMBIA_CON_STRINGA_RANDOM_LUNGA
ADMIN_PASSWORD=CAMBIA_PASSWORD_ADMIN
ADMIN_USERNAME=admin
